@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Poppins&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

:root{
    --fontetitulo: 'Open Sans Condensed', sans-serif;
    --fontepadrao: 'Roboto', sans-serif;
    --fontesizebody: 14px;
    --fontelinks: 'IBM Plex Mono', monospace;
    --cor01: #492F44;
    --cor02: #965189;
    --cor03: #284A49;
}
* {
  margin: 0px;
  padding: 0px;
}

.inicio {
  font-family: var(--fontepadrao);
  font-size: var(--fontesizebody);
  background-color: var(--cor01);
  color: #c8c8c8;
  text-align: center;
  align-items: center;
  margin: auto;
  transition-duration: 0.5s;
  max-width: 100%;
}

.inicio > h1, h2 {
  font-family: var(--fontetitulo);
  padding: 15px;
}

a.inicio:visited{ 
    color: #c8c8c8;
  }

.aulas_pgs {
    font-family: var(--fontepadrao);
    font-size: var(--fontesizebody);
    /* background-color: var(--cor01); */
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
    
}
article{
  padding: 15px;
}

header {
  background-color: var(--cor01);
  min-height: 100px;
  padding-top: 40px;
  margin-bottom: 20px;
}

header > h1 {
  color: #c8c8c8;
  font-family: var(--fontetitulo);
  text-align: center;
  font-size: 2.5em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
}

header > h4 {
  color: #c8c8c8;
  text-align: center;
  margin-top: 5px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
}

nav {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.082);
  padding: 10px;
}

nav > a {
  color: #c8c8c8;
  padding: 8px;
  text-decoration: none;
  transition-duration: 0.5s;

}

nav > a:hover{
  background-color: var(--cor02);
  border-radius: 5em;
  text-decoration: underline;

}

a.aulas_pgs:visited{
  color: #756b6b;
}

aside ul{
  list-style-type: '\1F4AD';
}

p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 20px;
  line-height: 1.2em;
  font-size: 1em;
}


p.porto{
  font-size: larger;
  padding: 15px;
}
.url_font{
  font-family: var(--fontelinks);
}

ul{
  list-style-type: '\1F4CC'; 
  list-style-position: inside;
  padding: 10px;
}

img{
    display: block;
    align-items: center;
    text-align: center;
    margin: auto;
}

picture{
  padding: 10px;
}

div.video{
  margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 50%;
  position: relative;
}

div.mapa > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

div.mapa{
  margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 50%;
  position: relative;
}

div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
figcaption{
  font-size: 9px;
  color: dimgray;
  float: right
}

#pc {
    max-width: fit-content;

}

hr{
  padding: 5px;
  border-top: 1px;
  border-left: #c8c8c8;
  border-right: #c8c8c8;
  margin-bottom: 10px;
}

 footer > p{
    font-family: 'Encode Sans SC', sans-serif;;
    margin-bottom: 10px;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
   /* background-color: #4d58bb; */
    
}

footer a {
    color: black;
    text-decoration: none;
    transition-duration: 0.5s;
}

footer a:hover {
    color: rgb(180, 177, 177);
}
